<div class="layout-top-nav" ng-init="init()">

<div class="box-plans">
<div class="background-chose-1">

    <a href="#" class="help-button-choose center-contents">?</a>
    <a href="/login"  class="login-button-choose center-contents">Login</a>
    <a>
         <img src="assets/img/Logo_P2P.png" class=" img-responsive img-logo">
    </a>

</div>

    <div class="inf-container">

        <div class="quote-1 grey-color" >
            My name is Maria, I am 30, I live in Porto, I am single and I have no kids
        </div>

        <div class="quote-2">
            I would like to have a&nbsp<span class="grey-color">  health plan</span>.
        </div>

        <div class="plans-container">
            <div class="plan-box">
                <div>
                    <p class="plan-title plan-title-gold">Golden plan</p>
                    <p class="plan-price"> 100 €/Mo</p>
                </div>
                <div class="box-details box-details-gold">
                    <div>
                    <p> Hospital Charges <span>50.000€</span></p>
                    <p class="divider">--</p>
                    <p> <span class="text-bold">Free</span> Visits </p>
                    <p class="divider">--</p>
                    <p> <span class="text-bold"> Free Emergency</span> Services</p>
                    <p class="divider">--</p>
                    <p> <span class="text-bold"> International</span> Assistance</p>
                    </div>
                </div>
            </div>

            <div class="plan-box">
                <div >
                    <p class="plan-title plan-title-silver"> Silver plan</p>
                    <p class="plan-price"> 75 €/Mo</p>
                </div>
                <div class="box-details box-details-silver">
                    <div>
                    <p> Hospital Charges <span class="text-bold">40.000€</span></p>
                    <p class="divider">--</p>
                    <p> <span class="text-bold">Free</span> Visits</p>
                    <p class="divider">--</p>
                    <p> Copay of <span class="text-bold">20€</span> to Emergency Services</p>
                    <p class="divider">--</p>
                    <p> <span class="text-bold">No International</span> Assistance</p>
                    </div>
                </div>
            </div>

            <div class="plan-box">
                <div >
                    <p class="plan-title plan-title-bronze"> Bronze plan</p>
                    <p class="plan-price"> 50 €/Mo</p>
                </div>
                <div class="box-details box-details-bronze">
                    <div>
                    <p>Hospital Charges <span class="text-bold">15.000€</span></p>
                    <p class="divider">--</p>
                    <p>Copay for visit <span class="text-bold">20€</span></p>
                    <p class="divider">--</p>
                    <p><span class="text-bold">No Emergency</span> Services</p>
                    <p class="divider">--</p>
                    <p><span class="text-bold">No International</span> Assistance</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</div>