<div class="fixed" ng-init="init()">

    <div class="wrapper">

        <!-- Main Header -->
        <p2p-navbar></p2p-navbar>

        <!-- Content Wrapper. Contains page content -->


        <div class ="content-wrapper">

            <div class="section-title">
                <h1 class="text-center">Insurance Overview</h1>
            </div>
            <div class="row images-general">
                <div class="col-md-3 box-general">
                    <div class="image-container">
                        <img class="img-responsive center-block" src="assets/img/Hospital%203-100.png">
                    </div>
                    <div class="box-detail text-center">
                        <h3 class="text-bold text-center"> Hospital Services</h3>
                        <h3 class="text-center">€50.000 of total hospital expenses</h3>
                    </div>

                </div>
                <div class="col-md-3 box-general">
                    <div class="image-container">
                        <img class="img-responsive center-block" src="assets/img/Stethoscope-100.png">
                    </div>
                    <div class="box-detail text-center">
                        <h3 class="text-bold text-center"> Care Visits </h3>
                        <h3 class="text-center"> Visit your favourite providers</h3>
                    </div>
                </div>
                <div class="col-md-3 box-general">
                    <div class="image-container">
                        <img class="img-responsive center-block" src="assets/img/Ambulance-100.png">
                    </div>
                    <div class="box-detail text-center">
                        <h3 class="text-bold text-center"> Urgent Care</h3>
                        <h3 class="text-center"> Anytime and anywhere </h3>
                    </div>
                </div>
                <div class="col-md-3 box-general">
                    <div class="image-container">
                        <img class="img-responsive center-block" src="assets/img/Globe-96.png">
                    </div>
                    <div class="box-detail text-center">
                        <h3 class="text-bold text-center"> International Assistance</h3>
                        <h3 class="text-center"> Anywhere you go - you are protected</h3>
                    </div>
                </div>
            </div>

            <div class="section-title">
                <h1 class="text-center">Some details about your coverage</h1>
            </div>
            <div class="details-wrap">


                <div class="row details-row">

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Lungs-100.png">
                        </div>
                        <h3 class="text-center"> Specialists </h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/X-ray-100.png">
                        </div>
                        <h3 class="text-center"> Diagnostic tests</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Microbeam%20Radiation%20Therapy-100.png">
                        </div>
                        <h3 class="text-center"> Imaging</h3>

                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Nurse%20Female-100.png">
                        </div>
                        <h3 class="text-center">Nursing care</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>



                </div>
                <div class="row details-row">


                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Pill-100.png">
                        </div>
                        <h3 class="text-center"> Drugs &amp; Vacines</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Surgical%20Scissors-100.png">
                        </div>
                        <h3 class="text-center"> Surgery</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Mental%20State-100.png">
                        </div>
                        <h3 class="text-center">Mental Health</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Pregnant%20Filled-100.png">
                        </div>
                        <h3 class="text-center">Pregnancy</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>


                </div>

                <div class="row details-row">

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/eye-glass.png">
                        </div>
                        <h3 class="text-center">Eye Care</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Physical%20Therapy-100.png">
                        </div>
                        <h3 class="text-center">Recovering Help</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Tooth-100.png">
                        </div>
                        <h3 class="text-center">Dental Care</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="detail-image-container">
                            <img class="img-responsive detail-image center-block" src="assets/img/Sperm%20Bank-100.png">
                        </div>
                        <h3 class="text-center">Fertility treatments</h3>
                        <div class="detail-container">
                            <h4 class="text-bold text-center">In-Network</h4>
                            <h4 class="text-center"> €0 Copay/visit</h4>
                            <h4 class="text-bold text-center">Out-of-Network</h4>
                            <h4 class="text-center">€15 Copay/visit</h4>
                        </div>
                    </div>


                </div>


            </div>
            <div class="section-title">
                <h1 class="text-center">Main vantages of P2P Health Insurance</h1>
            </div>

            <div class="vantages-wrap">

                <div class="row">

                    <div class="col-md-4">

                        <div class="vantages-detail-image-container center-block">
                            <img class="img-responsive vantages-image center-block" src="assets/img/Treatment%20Plan-100.png">
                        </div>
                        <div class="vantages-detail-container">
                            <h3 class="text-bold text-center"> Save your health history</h3>
                            <h3 class="text-center"> Save here all your medical information</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="vantages-detail-image-container center-block">
                            <img class="img-responsive vantages-image center-block" src="assets/img/Running-100.png">
                        </div>
                        <div class="vantages-detail-container">
                            <h3 class="text-bold text-center"> Win prizes for your healthy life-style</h3>

                            <h3 class="text-center">If you take care of you, you will have benefits</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="vantages-detail-image-container center-block">
                            <img class="img-responsive vantages-image center-block" src="assets/img/Money%20Box-100.png">
                        </div>
                        <div class="vantages-detail-container">
                            <h3 class="text-bold text-center"> Save money</h3>
                            <h3 class="text-center"> If you and your friends don't have claims, we give back your money </h3>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div><!-- ./wrapper -->

</div>