
<div class="layout-top-nav" ng-init="init()">

    <div class="box-plans">
        <div class="background-chose-1">

            <a href="#" class="help-button-choose center-contents">?</a>
            <a href="/login"  class="login-button-choose center-contents">Login</a>
            <a>
                <img src="assets/img/Logo_P2P.png" class=" img-responsive img-logo">
            </a>

        </div>

        <div class="inf-container">

            <div class="regist-wrap">
            <div class="plan-quote">
            <div class="quote-regist grey-color text-bold" >
                My name is Maria, I am 30, I live in Porto, I am single and I have no kids.
            </div>

                <div class="plan-box quote-plan">
                    <div>
                        <p class="plan-title plan-title-gold">Golden plan</p>
                        <p class="plan-price"> 100 €/Mo</p>
                    </div>
                    <div class="box-details box-details-gold">
                        <div>
                            <p> Hospital Charges <span>50.000€</span></p>
                            <p class="divider">--</p>
                            <p> <span class="text-bold">Free</span> Visits </p>
                            <p class="divider">--</p>
                            <p> <span class="text-bold"> Free Emergency</span> Services</p>
                            <p class="divider">--</p>
                            <p> <span class="text-bold"> International</span> Assistance</p>
                        </div>
                    </div>
                </div>




            </div>

            <div class="regist-container">

                <div class="regist-profile">
                    I want to complete my profile...
                </div>

                <input type="text" class="form-control register-input" placeholder="Full Name">

                <input type="text" class="form-control register-input" placeholder="E-mail">

                <input type="text" class="form-control register-input" placeholder="Address">

                <input type="text" class="form-control register-input" placeholder="Mobile Phone">

                <div class="password-container">
                <input type="text" class="form-control register-input-password" placeholder="Password">

                <input type="text" class="form-control register-input-password" placeholder="Confirm Password">
                </div>
                <div class="register-button-conatainer">
                <button class="btn btn-block register-button">Register</button>
                </div>
            </div>
            </div>
            </div>
        </div>

    </div>
</div>