<div class="box">
    <div class="box-body">
<div  class=" specialist-container">

    <h2 class="text-center text-bold"> Choose the Provider</h2>


    <div class="row center-contents">

        <div clas="col-md-2 center-contents">
            <i class="fa fa-angle-left"> </i>
        </div>

        <div class="col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital" src="assets/img/hospital1.jpg">
            </div>

        </div>

        <div class=" col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital " src="assets/img/hospital2.jpg">
            </div>
        </div>
        <div class="col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital" src="assets/img/hospital3.jpg">
            </div>
        </div>
        <div class="col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital" src="assets/img/hospital4.jpg">
            </div>

        </div>

        <div class="col-md-2 center-contents" >
            <i class="fa fa-angle-right"> </i>
        </div>
    </div>
        </div>
    </div>

</div>
<div class="box">
    <div class="box-body">
<div class="doctor-container">

    <h2 class="text-center text-bold"> Choose the Physician</h2>


    <div class="row center-contents">

        <div clas="col-md-1 center-contents">
            <i class="fa fa-angle-left"> </i>
        </div>

        <div class="col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital " src="assets/img/doctor1.jpg">
            </div>

        </div>

        <div class=" col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital" src="assets/img/doctor2.jpg">
            </div>
        </div>
        <div class="col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital" src="assets/img/doctor3.jpg">
            </div>
        </div>
        <div class="col-md-2 center-contents box-hospital">
            <div class="crop ">
                <img class="img-responsive img-hospital" src="assets/img/doctor6.jpg">
            </div>

        </div>
        <div class="col-md-2 center-contents box-hospital">
            <div class="crop">
                <img class="img-responsive img-hospital" src="assets/img/doctor5.jpg">
            </div>

        </div>

        <div class="col-md-1 center-contents" >
            <i class="fa fa-angle-right"> </i>
        </div>
    </div>
    </div>
</div>
</div>
<div class="row">

    <div class=" col-md-6">

        <div class="text-center date-button-container">
            <button class="btn btn-block date-button">As soon as possible</button>
        </div>


    </div>
    <div class="col-md-6">
        <div class="text-center date-button-container">
            <button class="btn btn-block date-button"> Let me choose the date </button>
        </div>


    </div>

</div>
 <div class="date-slot-container center-contents">

    <div class="center-contents">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="date-slot-row text-center">

        <a class="date-slot" href="/visit-confirmation" on-click="">
            <div class="date-slot-content ">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
        <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content" >
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>

        <a class="date-slot" href="#">
            <div class="date-slot-content" >
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#" >
            <div class="date-slot-content" >
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>


        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>

        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div href="/" class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>

        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>

        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div href="/" class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>
        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>

        <a class="date-slot" href="#">
            <div class="date-slot-content">
                <h3 >11/05/2016</h3>
                <h3 class="text-bold ">15:00</h3>
            </div>
        </a>

    </div>

    <div class="center-contents" href="#">
        <i class="fa fa-angle-right"></i>
    </div>

</div>
