<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 footer">
            <div class="col-xs-12 text-center">
                <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4 text-center">
                        <span class="icon icon-botaoazul"></span>
                        <span class="icon icon-in"></span>
                        <span class="icon icon-g"></span>
                    </div>
                    <div class="col-xs-4 terms">
                        <span class="pull-right">Terms of Conditions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
