<nav id="navbar-small" class="navbar navbar-custom navbar-fixed-top " ng-class="{'navout top-nav-collapse': collapsed == 'true', 'top-nav-color': color == 'true', 'top-nav-welcome': welcome == 'true', 'top-nav-bar': hidebar == 'true'}" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" ng-class="{'navbar-brand-transparent': color != 'true'}" ng-click="GoTo('/#intro')" href=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="cl-effect-17 collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <div class="menu-margin">
                        <a class="page-scroll" data-hover="{{color == 'true' ? 'Get a Quote': ''}}" ng-class="{'navbar-text-white': color != 'true'}" ng-click="GoTo('/#user_info')" href="">Get a Quote</a>
                    </div>
                </li>
                <li>
                    <div >
                        <a class="page-scroll" data-hover="{{color == 'true' ? 'About Us': ''}}" ng-class="{'navbar-text-white': color != 'true'}" >About Us</a>
                    </div>
                </li>
                <li>
                    <div class="menu-margin">
                        <span id="line-navbar" ng-class="{'line-navbar-white': color != 'true'}"></span>
                    </div>
                </li>
                <li ng-if="!UserService.IsLogged()">
                    <div class="menu-margin">
                        <a class="page-scroll highlight" href="/login">Log In</a>
                    </div>
                </li>
                <li ng-if="!UserService.IsLogged()">
                    <div>
                        <a class="page-scroll highlight" href="/signup">Sign Up</a>
                    </div>
                </li>
                <li id="userData" ng-if="UserService.IsLogged()">
                    <button ng-blur="CloseDropdown()"  ng-click="OpenDropdown()">
                        <span class="icon icon-user" ng-if="!UserService.ProfileImage()"></span>
                        <span ng-if="UserService.ProfileImage()"> <img class="profileImage" ng-src="{{UserService.ProfileImage()}}" /></span>
                        <span class="username">Welcome {{UserService.FullName()}} </span>
                        <span class="icon icon-down"></span>
                    </button>
                </li>
                <div id="menubarDropdown" ng-show="openedDropdown">
                    <div ng-mousedown="GoTo('/overview')">
                        Overview
                    </div>
                    <div ng-mousedown="GoTo('/portfolio')">
                        Portfolio
                    </div>
                    <div ng-mousedown="GoTo('/notifications')">
                        Notifications
                    </div>
                    <div ng-mousedown="GoTo('/profile')">
                        My Profile
                    </div>
                    <div ng-mousedown="GoTo('/companies')">
                        Companies
                    </div>
                    <div ng-if="UserService.IsAdmin()" ng-mousedown="GoTo('/admin')">
                        Admin
                    </div>
                    <div ng-mousedown="Logout()">
                        Logout
                    </div>
                </div>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
