<div class="row visit-confirmation-container center-contents">

    <div class="col-md-2">
    <div class="final-date" >
        <div class="date-slot-content">
            <h3 class="text-center">11/05/2016</h3>
            <h3 class="text-bold text-center ">15:00</h3>
        </div>
    </div>
    </div>
    <div class="col-md-3">
        <h3 class="text-bold">Hospital Address</h3>
        <h3>30 Rockefeller Plaza, New York</h3>
        <h3 class="text-bold">Room</h3>
        <h3>A-009</h3>
        <h3 class="text-bold">Physician</h3>
        <h3>Dr. John Lemon - Specialist</h3>

    </div>
    <div class="col-md-7">
        <h3>Do you want to attach some information?</h3>
        <textarea class="text-area" rows="5" col="50" placeholder="Enter a description..."></textarea>
       <a href="/overview" ng-click="AddFeedbackMessage(Your visit was schedule)"> <button  class="btn button-confirm pull-right">Confirm and Book</button></a>
    </div>
</div>