<div class="fixed" ng-init="init()">

    <div class="wrapper">
<!-- Main Header -->
        <p2p-navbar></p2p-navbar>

     <div class ="content-wrapper">

        <div  class=" specialist-container">

    <div class="section-title">
        <h1 class="text-center text-bold"> What kind of specialist do you need?</h1>
    </div>

    <div class="row ">

        <a href="/visit-details"><div class="col-md-3 center-contents">


            <div class="specialist-box specialist-box-green center-contents">
                <img src="assets/img/Brain-100_white.png" class="img-responsive">
            </div>

        </div></a>

        <div class="col-md-3 center-contents">

            <div class="specialist-box specialist-box-aqua center-contents">
                <img src="assets/img/Lungs-100_white.png" class="img-responsive">
            </div>

        </div>

        <div class="col-md-3 center-contents ">

            <div class="specialist-box specialist-box-red center-contents">
                <img src="assets/img/Liver-100_white.png" class="img-responsive">
            </div>

        </div>

        <div class="col-md-3 center-contents">

            <div class="specialist-box specialist-box-yellow center-contents">

                <img src="assets/img/Large%20Intestine-100_white.png" class="img-responsive">

            </div>

        </div>

    </div>
    <div class="row ">

        <div class="col-md-3 center-contents">

            <div class="specialist-box specialist-box-red center-contents">
                <img src="assets/img/Hearing-100_white.png" class="img-responsive">
            </div>

        </div>

        <div class="col-md-3 center-contents">

            <div class="specialist-box  specialist-box-yellow center-contents">
                <img src="assets/img/Uterus-100_white.png" class="img-responsive">
            </div>

        </div>

        <div class="col-md-3 center-contents ">

            <div class="specialist-box specialist-box-green center-contents">
                <img src="assets/img/Skin-100_white.png" class="img-responsive">
            </div>

        </div>

        <div class="col-md-3 center-contents">

            <div class="specialist-box specialist-box-aqua center-contents">

                <img src="assets/img/Skeleton-100_white.png" class="img-responsive">

            </div>

        </div>

    </div><div class="row ">

    <div class="col-md-3 center-contents">

        <div class="specialist-box specialist-box-aqua center-contents">
            <img src="assets/img/Medical%20Heart-100_white.png" class="img-responsive">
        </div>

    </div>

    <div class="col-md-3 center-contents">

        <div class="specialist-box specialist-box-green center-contents">
            <img src="assets/img/Mental%20State-100%20white.png" class="img-responsive">
        </div>

    </div>

    <div class="col-md-3 center-contents ">

        <div class="specialist-box specialist-box-yellow center-contents">
            <img src="assets/img/Stomach-100.png" class="img-responsive">
        </div>

    </div>

    <div class="col-md-3 center-contents">

        <div class="specialist-box specialist-box-red center-contents">

            <img src="assets/img/False%20Teeth-100_white.png" class="img-responsive">

        </div>

    </div>

</div><div class="row ">

    <div class="col-md-3 center-contents">

        <div class="specialist-box specialist-box-yellow center-contents">
            <img src="assets/img/Therapy-100_white.png" class="img-responsive">
        </div>

    </div>

    <div class="col-md-3 center-contents">

        <div class="specialist-box specialist-box-red center-contents">
            <img src="assets/img/Saliva%20Test-100_white.png" class="img-responsive">
        </div>

    </div>

    <div class="col-md-3 center-contents ">

        <div class="specialist-box specialist-box-aqua center-contents">
            <img src="assets/img/Sperm%20Bank-100_white.png" class="img-responsive">
        </div>

    </div>

    <div class="col-md-3 center-contents">

        <div class="specialist-box specialist-box-green center-contents">

            <img src="assets/img/Pregnant-100_white.png" class="img-responsive">

        </div>

    </div>

            </div>
        </div>
    </div>
</div>
</div>
