<div class="fixed" ng-init="init()">

    <div class="wrapper">

        <!-- Main Header -->
        <p2p-navbar></p2p-navbar>

        <!-- Content Wrapper. Contains page content -->
        <!-- /.content-wrapper -->
        <div class ="content-wrapper">

            <div class="section-title">
                <h1 class="text-center text-bold">  Choose the type of your visit</h1>
            </div>
            <div class="row">

                <div class="col-md-4" >
                    <a href="/available-specialists">
                        <div class=" type-container type-container1">
                            <div class="row">

                                <div class="col-md-12">
                                    <img class="img-responsive center-block" src="assets/img/Stethoscope-100_white.png">

                                    <h1 class="schedule-text"> Doctor's Visit</h1>

                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 ">
                    <a href="/available-diagnostics">
                        <div class=" type-container type-container2">
                            <div class="row">

                                <div class="col-md-12">
                                    <img class="img-responsive center-block" src="assets/img/X-ray-100_white.png">
                                    <h1 class="schedule-text"> Diagnostic Tests </h1>

                                </div>



                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 ">
                    <a href="/available-treatments">
                        <div class="type-container type-container3">
                            <div class="row">

                                <div class="col-md-12">
                                    <img class="img-responsive center-block" src="assets/img/Physical%20Therapy-100_white.png">

                                    <h1 class="schedule-text"> Treatment</h1>
                                </div>



                            </div>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>


</div>