<div class="fixed" ng-init="init()">
<div class="wrapper">

    <!-- Main Header -->
    <p2p-navbar></p2p-navbar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-4">

                            <div class="box p2p-box">
                                <div class="box-body">
                                    <div class="community-member">
                                        <img class="img-responsive pull-rigth"  src="assets/img/user3-128x128.jpg">

                                        <div class="community-member-name">

                                            <a href="#"> Jéssica Bravo </a>

                                            <div class="community-member-details">
                                                Braga
                                            </div>
                                            <div class="effort-container">
                                            <span class="effort-number"> 80%</span>
                                            <span class="effort-word">EFFORT RATE</span>
                                        </div>
                                            <div class="effort-bar">
                                                <div class="effort-rate" style="width: 80%"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="box p2p-box">
                                <div class="box-body" >
                                    <div class="community-member">
                                        <img class="img-responsive pull-rigth"  src="assets/img/user4-128x128.jpg">

                                        <div class="community-member-name">

                                            <a href="#"> Paula Rego </a>

                                            <div class="community-member-details">
                                            Porto
                                            </div>

                                            <div class="effort-container">
                                                <span class="effort-number"> 80%</span>
                                                <span class="effort-word">EFFORT RATE</span>
                                            </div>
                                            <div class="effort-bar">
                                                <div class="effort-rate" style="width: 74%"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                <div class="box p2p-box">
                    <div class="box-body">
                        <div class="community-member">
                            <img class="img-responsive pull-rigth"  src="assets/img/user8-128x128.jpg">

                            <div class="community-member-name">

                                <a href="#"> António Antunes</a>



                                <div class="community-member-details">
                                    Lisboa
                                    <span class="pull-right text-bold">

                                                <a href="#"> Invite him for a run!</a>

                                            </span>
                                </div>

                                <div class="effort-container">
                                    <span class="effort-number"> 48%</span>
                                    <span class="effort-word">EFFORT RATE</span>
                                </div>
                                <div class="effort-bar">
                                    <div class="effort-rate" style="width: 49% ; background-color: rgb(208,2,27);"></div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                            <div class="box p2p-box">
                                <div class="box-body">
                                    <div class="community-member">
                                        <img class="img-responsive pull-rigth"  src="assets/img/user1-128x128.jpg">

                                        <div class="community-member-name">

                                            <a href="#">Armindo Carvalho</a>



                                            <div class="community-member-details">
                                                Viana do Castelo
                                            </div>

                                            <div class="effort-container">
                                                <span class="effort-number"> 80%</span>
                                                <span class="effort-word">EFFORT RATE</span>
                                            </div>
                                            <div class="effort-bar">
                                                <div class="effort-rate" style="width: 70%"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="box p2p-box">
                                <div class="box-body">
                                    <div class="community-member">
                                        <img class="img-responsive pull-rigth"  src="assets/img/user5-128x128.jpg">

                                        <div class="community-member-name">

                                            <a href="#">  Sophia Mello</a>

                                            <div class="community-member-details">
                                                Lisboa
                                            </div>

                                            <div class="effort-container">
                                                <span class="effort-number"> 60%</span>
                                                <span class="effort-word">EFFORT RATE</span>
                                            </div>
                                            <div class="effort-bar">
                                                <div class="effort-rate" style="width: 60%"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box p2p-box">
                                <div class="box-body">
                                    <div class="community-member">
                                        <img class="img-responsive pull-rigth"  src="assets/img/user6-128x128.jpg">

                                        <div class="community-member-name">

                                            <a href="#"> Camilo Branco</a>

                                            <div class="community-member-details">
                                                Porto
                                                <span class="pull-right text-bold">

                                                <a href="#"> Invite him for a run!</a>

                                            </span>
                                            </div>

                                            <div class="effort-container">
                                                <span class="effort-number"> 45%</span>
                                                <span class="effort-word">EFFORT RATE</span>
                                            </div>
                                            <div class="effort-bar">
                                                <div class="effort-rate" style="width: 45% ; background-color: rgb(208,2,27);"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



            <!-- row -->
                <div class="col-md-8">

                    <div class="community-timeline">
                    <!-- The time line -->
                    <ul class="timeline">
                        <!-- timeline time label -->
                        <li>
                            <i class="fa fa-plus"></i>
                            <div class="timeline-item">

                                <h3 class="timeline-header"><a href="#">Share with your friends</a></h3>
                                <div class="timeline-body">
                                    <textarea class="form-control" rows="3" placeholder="What do you want to share with your friends?"></textarea>

                                </div>
                                <div class="timeline-footer " >

                                    <a title="Share a photo" class="btn  btn-xs  "style="color:rgb(176, 190,197)"> <i class="fa fa-camera "></i> </a>
                                    <a title="Share a video" class="btn btn-xs "style="color:rgb(176, 190,197)"> <i class="fa fa-video-camera"></i></a>
                                    <a title="Share an activity" class="btn btn-xs"style="color:rgb(176, 190,197)"> <i class="fa fa-soccer-ball-o"></i></a>
                                    <a title="Share health" class="btn btn-xs"style="color:rgb(176, 190,197)"> <i class="fa fa-heart"></i></a>

                                </div>
                            </div>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-envelope "></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                                <div class="timeline-body">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                    quora plaxo ideeli hulu weebly balihoo...
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-xs timeline-buttons">Read more</a>
                                    <a class="btn btn-xs timeline-buttons">Delete</a>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-user "></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                                <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-soccer-ball-o"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                                <h3 class="timeline-header"><a href="#">Jay White</a> planned an activity</h3>
                                <div class="timeline-body">
                                    Tonight, we are going to meet in front of DD studio to run! Join us!!
                                    <div class="embed-responsive-item">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.926330838555!2d-8.64493368426111!3d41
                                        .157958818148714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24659e12ef521f%3A0x91c412355817fc17!2sdeloitte+digital!5e0!3m2!1spt-PT!2spt!4v1462382611305"
                                                frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn timeline-buttons btn-flat btn-xs">View comment</a>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline time label -->
                        <!-- no time label-->
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-camera"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                                <div class="timeline-body">
                                    <img src="assets/img/run2.jpg" alt="..." class="margin">
                                    <img src="assets/img/run1.jpg" alt="..." class="margin">
                                    <img src="assets/img/run.jpg" alt="..." class="margin">
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-video-camera "></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                                <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>
                                <div class="timeline-body">
                                    Guys, weatch this video! Really nice!

                                    <div class="embed-responsive-item">

                                        <iframe class="embed-responsive-item"
                                                src="https://www.youtube.com/embed/YgmN-ndKgfw" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="timeline-footer">
                                    <a href="#" class="btn btn-xs timeline-buttons">See comments</a>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.row -->

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div>
</div>