<div class="fixed" ng-init="init()">

    <div class="wrapper">

        <!-- Main Header -->
        <p2p-navbar></p2p-navbar>-->
        <div class ="content-wrapper">

            <div class ="row name-community">

                <div class="col-md-12">


                    <input class="form-control name-input" placeholder="Name your Community &#xF040">

                </div>

            </div>
                <div class="row invite-friends-container ">

                                <div class="col-md-4">
                                    <div class="box p2p-create-box">
                                        <div class="box-header with-border">
                                            <h3 class="create-title">Suggested friends</h3>

                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <ul class="products-list product-list-in-box">
                                                <li class="item">
                                                    <div class="suggested-container">
                                                    <div>
                                                        <img src="assets/img/user8-128x128.jpg" alt="Product Image">
                                                    </div>
                                                    <div class=" suggested-details">
                                                        <div class="suggested-name"> João Moura</div>

                                                        <div class="product-description ">
                                                  Viana do Castelo
                                                        </div>
                                                        <button class="btn add-button">+ ADD</button>
                                                    </div>
                                                    </div>
                                                </li><!-- /.item -->
                                                <li class="item">
                                                    <div class="suggested-container">
                                                        <div>
                                                            <img src="assets/img/user7-128x128.jpg" alt="Product Image">
                                                        </div>
                                                        <div class=" suggested-details">
                                                            <div class="suggested-name">Rita Ferreira</div>

                                                            <div class="product-description ">
                                                                Viana do Castelo
                                                            </div>
                                                            <button class="btn add-button">+ ADD</button>
                                                        </div>
                                                    </div>
                                                </li><!-- /.item -->
                                                <li class="item">
                                                    <div class="suggested-container">
                                                        <div>
                                                            <img src="assets/img/user6-128x128.jpg" alt="Product Image">
                                                        </div>
                                                        <div class=" suggested-details">
                                                            <div class="suggested-name"> Pedro Almeida</div>

                                                            <div class="product-description ">
                                                                Viana do Castelo
                                                            </div>
                                                            <button class="btn add-button">+ ADD</button>
                                                        </div>
                                                    </div>
                                                </li><!-- /.item -->
                                                <li class="item">
                                                    <div class="suggested-container">
                                                        <div>
                                                            <img src="assets/img/user3-128x128.jpg" alt="Product Image">
                                                        </div>
                                                        <div class=" suggested-details">
                                                            <div class="suggested-name"> Maria Pinto</div>

                                                            <div class="product-description ">
                                                                Viana do Castelo
                                                            </div>
                                                            <button class="btn add-button">+ ADD</button>
                                                        </div>
                                                    </div>
                                                </li><!-- /.item -->
                                                <li class="item">
                                                    <div class="suggested-container">
                                                        <div>
                                                            <img src="assets/img/user5-128x128.jpg" alt="Product Image">
                                                        </div>
                                                        <div class=" suggested-details">
                                                            <div class="suggested-name"> Armanda Freixo</div>

                                                            <div class="product-description ">
                                                                Viana do Castelo
                                                            </div>
                                                            <button class="btn add-button">+ ADD</button>
                                                        </div>
                                                    </div>
                                                </li><!-- /.item -->
                                            </ul>
                                        </div><!-- /.box-body -->

                                    </div><!-- /.box -->
                                </div>
                    <div class="col-md-8">

                    <!-- USERS LIST -->
                                <div class="box p2p-create-box">
                                    <div class="box-header with-border">
                                        <div class="invited-box-header" >
                                            <div class="create-title invited-title">Invited Members</div>


                                            <div class="box-right-components" >
                                                 <input class="invite-input" placeholder="&#xF00e Invite Friends">
                                                <button class="btn invite-button">Invite a Member</button>
                                                </div>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <ul class="users-list clearfix">
                                            <li>
                                                <img src="assets/img/user1-128x128.jpg" alt="User Image">
                                                <a class="users-list-name" href="#">Alexander Pierce</a>
                                                <span class="users-list-date">Today</span>
                                            </li>
                                            <li>
                                                <img src="assets/img/user8-128x128.jpg" alt="User Image">
                                                <a class="users-list-name" href="#">Norman</a>
                                                <span class="users-list-date">Yesterday</span>
                                            </li>
                                            <li>
                                                <img src="assets/img/user7-128x128.jpg" alt="User Image">
                                                <a class="users-list-name" href="#">Jane</a>
                                                <span class="users-list-date">12 Jan</span>
                                            </li>
                                            <li>
                                                <img src="assets/img/user6-128x128.jpg" alt="User Image">
                                                <a class="users-list-name" href="#">John</a>
                                                <span class="users-list-date">12 Jan</span>
                                            </li>
                                            <li>
                                                <img src="assets/img/user8-128x128.jpg" alt="User Image">
                                                <a class="users-list-name" href="#">Alexander</a>
                                                <span class="users-list-date">13 Jan</span>
                                            </li>
                                            <li>
                                                    <img src="assets/img/user5-128x128.jpg" alt="User Image">
                                                <a class="users-list-name" href="#">Sarah</a>
                                                <span class="users-list-date">14 Jan</span>
                                            </li>
                                        </ul><!-- /.users-list -->
                                    </div><!-- /.box-body -->

                                </div><!--/.box -->

                        <div class="box p2p-create-box">
                            <div class="box-body">
                                <img src="assets/img/user5-128x128.jpg" class="img-box" alt="User Image">
                                <div class="name-span">
                                    <a href="#" class="name-active">Sarah</a>
                                    has created a community!
                                    <p>
                                        <button class="btn btn-primary join-button">Join her community!</button>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="box p2p-create-box">
                            <div class="box-body">
                                <img src="assets/img/user6-128x128.jpg" class="img-box" alt="User Image">
                                <div class="name-span">
                                    <a href="#" class="name-active">John</a>
                                    has created a community!
                                    <p>
                                        <button class="btn btn-primary join-button">Join his community!</button>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="box p2p-create-box">
                            <div class="box-body">
                                <img src="assets/img/user7-128x128.jpg" class="img-box" alt="User Image">
                                <div class="name-span">
                                    <a href="#" class="name-active">Sansa</a>
                                    has created a community!
                                    <p>
                                        <button class="btn btn-primary join-button">Join her community!</button>
                                    </p>
                                </div>
                            </div>
                        </div>




                            </div><!-- /.col -->


            </div><!--row-->

            </div>
    </div>
</div>

