<div class="fixed" ng-init="init()">
    <div class="wrapper">

        <!-- Main Header -->
        <p2p-navbar></p2p-navbar>
        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            <section class="content">
                <!-- Small boxes (Stat box) -->

                <div class="row">

                    <div class="col-lg-3">
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                Community level
                            <span class="text-bold">
                                Gold
                            </span>
                                <span class="pull-right">
                                <a href="#">
                                    <i class="fa fa-plus"></i>
                                </a>
                                </span>
                                <div>
                                    <div class="effort-dash">
                                    Effort rate

                                    <span class=" effort-dash pull-right" style="font-weight: normal"> 80%</span>
                                    </div>
                                    <div class="effort-bar">
                                        <div class="effort-rate" style="width: 80%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="content-baseline content-general">
                               <span class="content-max text-bold">
                                    Community Saved Amount
                               </span>
                                <span class="content-min align-right amount-saved">
                                    600€
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="content-baseline content-general">
                               <span class="content-max text-bold">
                                Your Saved Amount
                                </span>
                                <span class="content-min align-right  amount-saved">
                                    70€
                                </span>
                                </div>
                            </div>

                        </div>
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="row row-height">
                                    <div class="col-md-2" style="height:100%">
                                        <div class="img-dash-container img-dash-container-bck1 center-contents">
                                            <img class="img-responsive"
                                                 src="assets/img/Stethoscope-100_white.png">
                                        </div>

                                    </div>
                                    <div class="col-md-10 more-margin"  style="height:100%;">
                                        <div class="bar-title">
                                                    <span class="text-bold">
                                                        Medical Visits
                                                    </span>
                                            <span class="pull-right"> 100€/1000€</span>
                                        </div>
                                        <div class="bar-wrapper" >
                                            <div class="bar-outside">
                                                <div class="bar-inside" style="width:80%">
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="row row-height">
                                    <div class="col-md-2" style="height:100%">
                                        <div class="img-dash-container img-dash-container-bck2 center-contents">
                                            <img class="img-responsive"
                                                 src="assets/img/Tooth-100_white.png">
                                        </div>

                                    </div>
                                    <div class="col-md-10 more-margin"  style="height:100%;">
                                        <div class="bar-title">
                                                    <span class="text-bold">
                                                    Dental Plan
                                                    </span>
                                            <span class="pull-right"> 100€/1000€</span>
                                        </div>
                                        <div class="bar-wrapper" >
                                            <div class="bar-outside">
                                                <div class="bar-inside" style="width:80%">
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="row row-height">
                                    <div class="col-md-2" style="height:100%">
                                        <div class="img-dash-container img-dash-container-bck3 center-contents">
                                            <img class="img-responsive"
                                                 src="assets/img/Hospital 3-100_white.png">
                                        </div>

                                    </div>
                                    <div class="col-md-10 more-margin"  style="height:100%;">
                                        <div class="bar-title">
                                                    <span class="text-bold">
                                                    Hospital Services
                                                    </span>
                                            <span class="pull-right"> 100€/1000€</span>
                                        </div>
                                        <div class="bar-wrapper" >
                                            <div class="bar-outside">
                                                <div class="bar-inside" style="width:80%">
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="row row-height">
                                    <div class="col-md-2" style="height:100%">
                                        <div class="img-dash-container img-dash-container-bck4 center-contents">
                                            <img class="img-responsive"
                                                 src="assets/img/X-ray-100_white.png">
                                        </div>

                                    </div>
                                    <div class="col-md-10 more-margin"  style="height:100%;">
                                        <div class="bar-title">
                                                    <span class="text-bold">
                                                    Diagnostic Tests
                                                    </span>
                                            <span class="pull-right"> 100€/1000€</span>
                                        </div>
                                        <div class="bar-wrapper" >
                                            <div class="bar-outside">
                                                <div class="bar-inside" style="width:80%">
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box p2p-box ">
                            <div class="box-body column-dash">
                                <div class="row row-height">
                                    <div class="col-md-2" style="height:100%">
                                        <div class="img-dash-container img-dash-container-bck1 center-contents">
                                            <img class="img-responsive"
                                                 src="assets/img/Glasses-100_white.png">
                                        </div>

                                    </div>
                                    <div class="col-md-10 more-margin"  style="height:100%;">
                                        <div class="bar-title">
                                                    <span class="text-bold">
                                                    Ophthalmology Plan
                                                    </span>
                                            <span class="pull-right"> 30€/300€</span>
                                        </div>
                                        <div class="bar-wrapper" >
                                            <div class="bar-outside">
                                                <div class="bar-inside" style="width:30%; background-color: rgb(208,2,27)">
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="row row-height">
                                    <div class="col-md-2" style="height:100%">
                                        <div class="img-dash-container img-dash-container-bck2 center-contents">
                                            <img class="img-responsive"
                                                 src="assets/img/Physical Therapy-100_white.png">
                                        </div>

                                    </div>
                                    <div class="col-md-10 more-margin"  style="height:100%;">
                                        <div class="bar-title">
                                                    <span class="text-bold">
                                                        Physical Therapy
                                                    </span>
                                            <span class="pull-right"> 100€/1000€</span>
                                        </div>
                                        <div class="bar-wrapper" >
                                            <div class="bar-outside">
                                                <div class="bar-inside" style="width:80%">
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box p2p-box">
                            <div class="box-body column-dash">
                                <div class="row row-height">
                                    <div class="col-md-2" style="height:100%">
                                        <div class="img-dash-container img-dash-container-bck3 center-contents">
                                            <img class="img-responsive"
                                                 src="assets/img/Pregnant-100_white.png">
                                        </div>

                                    </div>
                                    <div class="col-md-10 more-margin"  style="height:100%;">
                                        <div class="bar-title">
                                                    <span class="text-bold">
                                                        Maternity plan
                                                    </span>
                                            <span class="pull-right"> 0€/1000€</span>
                                        </div>
                                        <div class="bar-wrapper" >
                                            <div class="bar-outside">
                                                <div class="bar-inside" style="width:2%; background-color:rgb(208,2,27) ; " >
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                      </div>


                    <section class="col-lg-9 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="nav-tabs-custom">
                            <!-- Tabs within a box -->
                            <ul class="nav nav-tabs pull-right">
                                <a href="#revenue-chart"> </a>
                                <li class="pull-left header"><i class="fa fa-inbox"></i> Expenses</li>
                            </ul>
                            <div class="tab-content no-padding">
                                <!-- Morris chart - Sales -->
                                <div class="chart tab-pane active" id="revenue-chart"
                                     style="position: relative; height: 300px;"></div>
                                <div class="chart tab-pane" id="sales-chart"
                                     style="position: relative; height: 300px;"></div>
                            </div>
                        </div>

                                <div class="nav-tabs-custom " >
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>


                                    </ul>
                                    <div class="tab-content">
                                        <div class="active tab-pane" id="activity">
                                            <!-- Post -->
                                            <div class="post">
                                                <div class="user-block">
                                                    <img class="img-circle img-bordered-sm" src="assets/img/user1-128x128.jpg"
                                                         alt="user image">
                        <span class='username'>
                          <a href="#">Jonathan Burke Jr.</a>
                          <a href='#' class='pull-right btn-box-tool'><i class='fa fa-times'></i></a>
                        </span>
                                                    <span class='description'>Shared publicly - 7:30 PM today</span>
                                                </div><!-- /.user-block -->
                                                <p>
                                                    Lorem ipsum represents a long-held tradition for designers,
                                                    typographers and the like. Some people hate it and argue for
                                                    its demise, but others ignore the hate as they create awesome
                                                    tools to help create filler text for everyone from bacon lovers
                                                    to Charlie Sheen fans.
                                                </p>
                                                <ul class="list-inline">
                                                    <li><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-share margin-r-5"></i> Share</a></li>
                                                    <li><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                                                    <li class="pull-right"><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
                                                </ul>

                                                <input class="form-control input-sm" type="text" placeholder="Type a comment">
                                            </div><!-- /.post -->

                                            <!-- Post -->
                                            <div class="post clearfix">
                                                <div class='user-block'>
                                                    <img class='img-circle img-bordered-sm' src='assets/img/user7-128x128.jpg'
                                                         alt='user image'>
                        <span class='username'>
                          <a href="#">Sarah Ross</a>
                          <a href='#' class='pull-right btn-box-tool'><i class='fa fa-times'></i></a>
                        </span>
                                                    <span class='description'>Sent you a message - 3 days ago</span>
                                                </div><!-- /.user-block -->
                                                <p>
                                                    Lorem ipsum represents a long-held tradition for designers,
                                                    typographers and the like. Some people hate it and argue for
                                                    its demise, but others ignore the hate as they create awesome
                                                    tools to help create filler text for everyone from bacon lovers
                                                    to Charlie Sheen fans.
                                                </p>

                                                <input class="form-control input-sm" type="text" placeholder="Type a comment">
                                            </div><!-- /.post -->

                                            <!-- Post -->
                                            <div class="post">
                                                <div class='user-block'>
                                                    <img class='img-circle img-bordered-sm' src='assets/img/user6-128x128.jpg'
                                                         alt='user image'>
                        <span class='username'>
                          <a href="#">Adam Jones</a>
                          <a href='#' class='pull-right btn-box-tool'><i class='fa fa-times'></i></a>
                        </span>
                                                    <span class='description'>Posted 5 photos - 5 days ago</span>
                                                </div><!-- /.user-block -->
                                                <div class='row margin-bottom'>

                                                    <div class='col-sm-12'>

                                                            Lorem ipsum represents a long-held tradition for designers,
                                                            typographers and the like. Some people hate it and argue for
                                                            its demise, but others ignore the hate as they create awesome
                                                            tools to help create filler text for everyone from bacon lovers
                                                            to Charlie Sheen fans.

                                                    </div><!-- /.col -->
                                                </div><!-- /.row -->

                                                <ul class="list-inline">
                                                    <li><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-share margin-r-5"></i> Share</a></li>
                                                    <li><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                                                    <li class="pull-right"><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
                                                </ul>

                                                <input class="form-control input-sm" type="text" placeholder="Type a comment">
                                            </div><!-- /.post -->
                                            <div class="post">
                                                <div class='user-block'>
                                                    <img class='img-circle img-bordered-sm' src='assets/img/user6-128x128.jpg'
                                                         alt='user image'>
                        <span class='username'>
                          <a href="#">Adam Jones</a>
                          <a href='#' class='pull-right btn-box-tool'><i class='fa fa-times'></i></a>
                        </span>
                                                    <span class='description'>Posted 5 photos - 5 days ago</span>
                                                </div><!-- /.user-block -->
                                                <div class='row margin-bottom'>

                                                    <div class='col-sm-12'>

                                                        Lorem ipsum represents a long-held tradition for designers,
                                                        typographers and the like. Some people hate it and argue for
                                                        its demise, but others ignore the hate as they create awesome
                                                        tools to help create filler text for everyone from bacon lovers
                                                        to Charlie Sheen fans.

                                                    </div><!-- /.col -->
                                                </div><!-- /.row -->

                                                <ul class="list-inline">
                                                    <li><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-share margin-r-5"></i> Share</a></li>
                                                    <li><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                                                    <li class="pull-right"><a href="#" class="link-black text-sm"><i
                                                            class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
                                                </ul>

                                                <input class="form-control input-sm" type="text" placeholder="Type a comment">
                                            </div><!-- /.post -->
                                        </div><!-- /.tab-pane -->
                                    </div>
                                </div>
                    </section>
                </div>

            </section>
        </div>
    </div>
</div>
<!-- Main Footer -->

<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->

</div>