<div class="fixed" ng-init="init()">
    <div class="wrapper">

        <!-- Main Header -->
        <p2p-navbar></p2p-navbar>
        <!-- Content Wrapper. Contains page content -->


        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">

                <div id="historic-wrapper">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="box ">
                                <div class="box-header with-border center-contents">
                                    <div class="historic-image center-contents" id="historic-image-1">
                                        <img class="img-responsive img-historic" src="assets/img/Stethoscope-100_white.png">
                                         <span>Visits & Treatments</span>
                                    </div>

                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="products-list product-list-in-box">
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Tooth-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Specialist visit
                                                    <span class="pull-right">27/05/16</span>
                                                </a>
                                              <span class="item-description">
                                                  Dentist Visit
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Massage-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Treatment
                                                    <span class="pull-right">10/05/16</span>
                                                </a>
                                              <span class="item-description">
                                                   Massage session
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Physical Therapy-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Treatment
                                                    <span class="pull-right">30/04/16</span>
                                                </a>
                                              <span class="item-description">
                                                  Physical therapy session
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Skin-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Specialist visit
                                                    <span class="pull-right">12/12/15</span>
                                                </a>
                                              <span class="item-description">
                                                  Dermatologist Visit
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Tooth-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Dentist visit
                                                    <span class="pull-right">27/08/15</span>
                                                </a>
                                              <span class="item-description">
                                                  Dentist Visit
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->

                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Stethoscope-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Medical visit
                                                    <span class="pull-right">20/03/15</span>
                                                </a>
                                              <span class="item-description">
                                                  General Medicine
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Glasses-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Specialist visit
                                                    <span class="pull-right">27/01/15</span>
                                                </a>
                                              <span class="item-description">
                                                 Ophthalmologist Visit
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Tooth-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Specialist visit
                                                    <span class="pull-right">27/12/14</span>
                                                </a>
                                              <span class="item-description">
                                                  Dentist Visit
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->

                                    </ul>
                                </div><!-- /.box-body -->
                                <div class="box-footer text-center">
                                    <a href="javascript::;" class="uppercase">View all your Visits & Treatments</a>
                                </div><!-- /.box-footer -->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box ">
                                <div class="box-header with-border center-contents">
                                    <div class="historic-image center-contents" id="historic-image-2">
                                        <img class="img-responsive img-historic" src="assets/img/X-ray-100_white.png">
                                        <span>Diagnostic tests</span>
                                    </div>


                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="products-list product-list-in-box">
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/X-ray-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    X-ray
                                                    <span class="pull-right">10/05/16</span>
                                                </a>
                                              <span class="item-description">
                                                  Leg X-Ray
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Syringe-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Blood test
                                                    <span class="pull-right">27/11/15</span>
                                                </a>
                                              <span class="item-description">
                                                  Global blood tests
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Heart Monitor-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Electrocardiogram
                                                    <span class="pull-right">27/05/15</span>
                                                </a>
                                              <span class="item-description">
                                                  Heart exam
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                    </ul>
                                </div><!-- /.box-body -->
                                <div class="box-footer text-center">
                                    <a href="javascript::;" class="uppercase">View All tests</a>
                                </div><!-- /.box-footer -->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box ">
                                <div class="box-header with-border center-contents">
                                    <div class="historic-image center-contents" id="historic-image-3">
                                        <img class="img-responsive img-historic" src="assets/img/Treatment Plan-100_white.png">
                                        <span>Prescriptions & Plans</span>
                                    </div>


                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="products-list product-list-in-box">
                                        <li class="item">
                                        <div class="img-item-historic center-contents">
                                            <img class="item-img" src="assets/img/Treatment Plan-100_white.png" alt="Product Image">
                                        </div>
                                        <div class="product-info">
                                            <a href="javascript::;" class="item-title">
                                                Medical Prescription
                                                <span class="pull-right">20/05/16</span>
                                            </a>
                                              <span class="item-description">
                                                  Medical Prescription
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                        </div>
                                    </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Pear-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Diet plan
                                                    <span class="pull-right">27/01/16</span>
                                                </a>
                                              <span class="item-description">
                                                    Diet plan
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Barbell-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Gym plan
                                                    <span class="pull-right">27/05/15</span>
                                                </a>
                                              <span class="item-description">
                                                    Gym plan
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                        <li class="item">
                                            <div class="img-item-historic center-contents">
                                                <img class="item-img" src="assets/img/Treatment Plan-100_white.png" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="item-title">
                                                    Medical Prescription
                                                    <span class="pull-right">27/01/15</span>
                                                </a>
                                              <span class="item-description">
                                                    Medical Prescription
                                                  <span class="pull-right"> <a href="#"><i class="fa fa-search-plus"></i></a></span>
                                            </span>
                                            </div>
                                        </li><!-- /.item -->
                                    </ul>
                                </div><!-- /.box-body -->
                                <div class="box-footer text-center">
                                    <a href="javascript::;" class="uppercase">View All Prescriptions & Plans</a>
                                </div><!-- /.box-footer -->
                            </div>
                        </div>

                    </div>

                </div>

            </section>

        </div>
    </div>
</div>

